@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 표기 순 TAG > ID > CLASS */
/* 775 이하로 낮아지면 반응형 추가해야 함 absolute로 글자가 씹힘. */

* {
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

body {
    overflow-x: hidden;
}

:root {
    --ti-cursor-margin-left: 0.1em;
}

.navs {
    display: flex;
    gap: 5vw;
}

a {
    cursor: pointer;
    font-family: 'Square Peg', cursive;
    text-decoration: none;
    color: black;
    font-size: 3.3vw;
}

i {
    font-size: 1.5vw;
}

.nav:active {
    transform: scale(0.89);
}

#typing {
    font-size: 0.9vw;
}

#typing-Hello {
    padding-left: 12px;
    padding-top: 18px;
    font-size: 0.8vw;
    width: auto;
    text-align: left;
    color: white;
}

.container {
    height: auto;
}

.fixedHeader {
    height: auto;
    z-index: 99;
    background-color: transparent;
    width: 100vw;
    position: fixed;
}

.mainHeader {
    height: 10vh;
    background-color: white;
    margin: auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-family: 'Square Peg', cursive;
    font-size: 5vw;
}

.information {
    width: 100%;
    height: 270vh;
    margin: 0 auto;
}

.terminal {
    max-width: 700px;
    min-width: 490px;
    font-family: 'Gowun Dodum', sans-serif;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50% , -50%);
    border: white;
    background-color: black;
    min-width: 50;
    width: 65vw;
    height: 10vw;
    border-radius: 8px;
}

.terminal::before {
    max-width: 700px;
    min-width: 490px;
    font-size: 13px;
    font-weight: bold;
    content: '정보통신과@intec.com';
    text-align: center;
    width: 65vw;
    height: 14px;
    background-color: gray;
    position: absolute;
    top: -3.5%;
}

.greetings {
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 170vh;
    transform: translate(-50%,-80%);
}

.fadeout {
    font-weight: bold;
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 2.5vw;
    padding-top: 20vh;
}

.aniLogo {
    font-weight: bold;
    font-family: 'Square Peg', cursive;
    display: flex;
    position: absolute;
    width: 100%;
    font-size: 5vw;
    top: 150vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.aniDes {
    font-family: 'Gowun Dodum', sans-serif;
    width: 100%;
    font-weight: bold;
    left: 50%;
    font-size: 1.4vw;
    position: absolute;
    top: 160vh;
    transform: translate(-50%,-50%);
}

.aniBtn {
    width: 100%;
    position: absolute;
    top: 165vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.aniBtn button {
    width: 120px;
    height: 5vh;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
}

.aniBtn button:hover {
    background: #D3D3D3;
}

.footerAnimation {
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 310vh;
    margin-bottom: 5vh;
}

.etc {
    position: absolute;
    top: 380vh;
    background-color: black;
    width: 100vw;
    height: 16vh;
}

